.navbar {
  height: 60px;
  color: blue
}

#title {
  margin: 25px 25px 25px;
  font-size: 40px;
  color: #3360A3;
}

#lingvoMap {
  height: 650px;
  width: 100%
}

#credits {
  font-size: 10px;
}

.info {
    width: 160px;
    height: 160px;
    padding: 6px 8px;
    font: 14px/16px Arial, Helvetica, sans-serif;
    background: white;
    background: rgba(255,255,255,0.8);
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 5px;
}
.info h4 {
    margin: 0 0 5px;
    color: #3360A3;
}

.footer {
  text-align: center;
  font-size: 0.8rem;
  font-style: italic
}
