/* This file contains styles and properties for HTML code */

/* The map placeholder */
#baltimore_sites {
  height: 600px;
  width: 100%;
  text-align: left;
  margin-top: 30px
}

/* A whole page */
body {
  padding-top: 3rem
}
/* All cells in all tables */
td {
  vertical-align: top;
}


/* Object classes */
.starter-template {
  padding: 1rem 1rem;
  text-align: center
}

.navbar {
  height: 65px
}

.legend {
  text-align: left;
  margin-left: 20px;
  margin-bottom: 40px
}

.tableName {
  text-align: center;
  margin-bottom: 5px
}

.leftCol {
  text-align: center;
  width: 75px
}

.rightCol {
  text-align: left;
  font-family: "Helvetica Neue", sans-serif;
  width: 300px;
  font-weight: normal
}

.footer {
  text-align: center;
  font-size: 0.8rem;
  font-style: italic
}
