#header {
  height: 75px;
  background-color: darkgoldenrod
  }
#mapdiv {
  height: 550px;
  background-color: salmon
}
#side_panel {
  height: 550px;
  background-color: beige
}
#footer {
  height:75px;
  background-color: darkgrey
}
