.navbar {
  height: 60px;
}

#disclaimer {
  margin: 25px 25px 25px 25px;
  font-size: 40px;
  color: #3360A3;
}

#vowels {
  height: 620px;
  width: 1300px
}

.legend {
  margin-bottom: 50px;
  font-weight: normal
}

.tableName {
  text-align: center;
  font-family: "Helvetica Neue", sans-serif;
  font-weight: bold;
  margin-bottom: 10px
}

.leftCol {
  text-align: center;
  width: 75px
}

.rightCol {
  text-align: left;
  width: 300px;
  font-weight: normal
}

.comments {
  margin-top: 20px;
  font-size: 10px
}
